*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Helvetica, sans-serif;
}
:root{
    --fundoPrincipal: whitesmoke;
    --fontePrincipal: rgb(251, 80, 163);
    --fundoDark: rgb(61, 61, 61);
    --fundoDarkHover: rgb(90, 90, 90);
    --fonteDark: rgb(201, 201, 201);
}
/*scrollbar*/
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar {
    width: 0.5rem;
    background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-thumb {
    background: rgb(173, 173, 173);
    border-radius: 2px;
}
.light{
    transition: 0.15s;
}
.dark{
    transition: 0.15s;
}
/*scrollbar*/
body{
    background: var(--fundoPrincipal);
    color: var(--fontePrincipal);
}
body.dark{
    background: black;
    color: var(--fonteDark);
}

/*navbar*/
header{
    margin-bottom: 3rem;
}
nav{
    background: rgba(251, 80, 163, 0.8);
    color: white;
    font-size: 1rem;
    min-height: 5%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
nav.dark{
    background: rgba(61,61,61,0.8);
    color: var(--fonteDark);
}
nav.dark a{
    color: var(--fonteDark);
}
nav ul li{
    display: inline-block;
    top: 50%;
    transform: translateY(50%);
    padding-left: 0.1rem;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: whitesmoke;
    border-bottom: 1px whitesmoke solid;
}

.botaoSideBar{
    background: url("../imgs/svg/menuSand.svg") no-repeat;
    border: none;
    height: 2rem;
    width: 2rem;
    float: left;
    top: 50%;
    transform: translateY(10%);
    transition: 0.2s;
}
.botaoSideBar.sideBarAberta{
    background: url("../imgs/svg/fecharMenu.svg") no-repeat;
}
.botaoSideBar:hover{
    filter: brightness(90%);
}
.botaoSideBar.dark.sideBarAberta{
    background: url("../imgs/svg/fecharMenu.svg") no-repeat;
    filter: brightness(50%);
}
.botaoSideBar.dark{
    background: url("../imgs/svg/menuSand.svg") no-repeat;
    filter: brightness(50%);
}
.botaoSideBar.dark:hover{
    filter: brightness(70%);
}
#conteudoSideBar{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 5%;
  left: 0;
  background-color: ghostwhite;
  border-top-right-radius: 3px;
  overflow-x: hidden;
}
#conteudoSideBar.dark{
    background: var(--fundoDark);
}
#conteudoSideBar a{
    color: var(--fontePrincipal);
    text-decoration: none;
    display: block;
    margin-bottom: 0.5rem;
}
#conteudoSideBar a:hover{
    filter: brightness(130%);
}
#conteudoSideBar.dark a{
    color: var(--fonteDark);
}
#conteudoSideBar hr{
    background-color: #FB50A3;
    height: 1px;
    border: 0;
}
#conteudoSideBar.dark hr{
    background-color: var(--fonteDark);
}
.headerSideBar{
    padding: 0.2rem 0.5rem 0.2rem 0.2rem;
}
.fotoPerfilSideBar{
    border-radius: 50%;
    border: 2px solid #FB50A3
}
.fotoPerfilSideBar.dark{
    border: 2px solid var(--fonteDark);
    filter: brightness(80%);
}
.bodySideBar{
    margin: 1rem 1rem 0 1rem;
    font-size: 18px;
}
/*navbar*/

/*footer*/
footer{
    margin-top: 3rem;
    background-color: #FB50A3;
    width: 100%;
    min-height: 7%;
    color: white;
    text-align: center;
    bottom: 0;
}
footer.dark{
    background: var(--fundoDark);
    color: var(--fonteDark);
}
footer p{
    top: 50%;
    transform: translateY(50%);
}
/*footer*/

/*troca tema*/
#trocaTema{
    float: right;
    list-style: none;
}
.trocaTema{
    border: none;
    width: 2rem;
    height: 2rem;
    margin: 1rem 0.1rem 0 0.1rem;
    border-radius: 5px;
    background: url('../imgs/svg/light.svg') no-repeat;
}
.trocaTema:hover{
    background: url('../imgs/svg/light.svg') no-repeat;
    filter: brightness(150%);
    color: var(--fontePrincipal);
}
.trocaTema.dark{
    background: url('../imgs/svg/dark.svg') no-repeat;
    color: ghostwhite;
}
.trocaTema.dark:hover{
    background: url('../imgs/svg/dark.svg') no-repeat;
    filter: brightness(150%);
}
/*troca tema*/

/*index*/
#divPerfil{
    margin: auto;
    text-align: center;
    width: 50%;
}
#divPerfil hr{
    border: 1px solid #FB50A3;
}
#divPerfil.dark hr{
    border: 1px solid var(--fonteDark);
}
#imgPerfil{
    border-radius: 50%;
    border: 5px solid var(--fontePrincipal);
}
#imgPerfil.dark{
    border: 5px solid var(--fonteDark);
    filter: brightness(80%);
}
#imgPerfil:hover{
    filter: brightness(90%);
}
#imgPerfil:hover.dark{
    filter: brightness(70%);
}
.conteudoPerfil{
    margin: 2rem 2rem;
}
#currentLearning.dark{
    filter: brightness(80%);
}
#currentLearning li{
    list-style: none;
    margin: 1rem 0.1rem 0 0.1rem;
    padding: 0;
    display: inline-block;
}
#htmlLang{
    background: url("../imgs/svg/languages/light/html5.svg") no-repeat;
    width: 3rem;
    height: 3rem;
}
#cssLang{
    background: url("../imgs/svg/languages/light/css3.svg") no-repeat;
    width: 3rem;
    height: 3rem;
}
#jsLang{
    background: url("../imgs/svg/languages/light/javascript.svg") no-repeat;
    width: 3rem;
    height: 3rem;    
}
#bsLang{
    background: url("../imgs/svg/languages/light/bootstrap.svg") no-repeat;
    width: 3rem;
    height: 3rem;   
}
#pyLang{
    background: url("../imgs/svg/languages/light/python.svg") no-repeat;
    width: 3rem;
    height: 3rem;
}
#currentLearning.dark #htmlLang{
    background: url("../imgs/svg/languages/dark/html5.svg") no-repeat;
}
#currentLearning.dark #cssLang{
    background: url("../imgs/svg/languages/dark/css3.svg") no-repeat;
}
#currentLearning.dark #jsLang{
    background: url("../imgs/svg/languages/dark/javascript.svg") no-repeat;
}
#currentLearning.dark #bsLang{
    background: url("../imgs/svg/languages/dark/bootstrap.svg") no-repeat;
}
#currentLearning.dark #pyLang{
    background: url("../imgs/svg/languages/dark/python.svg") no-repeat;
}
.githubStats{
    height: 15rem;
    background: url('https://github-readme-stats.vercel.app/api?username=willotavio&theme=jolly&show_icons=true') no-repeat center;
}
.githubStats.dark{
    background: url('https://github-readme-stats.vercel.app/api?username=willotavio&theme=apprentice&show_icons=true') no-repeat center;
}
.githubLangs{
    height: 11rem;
    background: url('https://github-readme-stats.vercel.app/api/top-langs/?username=willotavio&layout=compact&theme=jolly') no-repeat center;
}
.githubLangs.dark{
    background: url('https://github-readme-stats.vercel.app/api/top-langs/?username=willotavio&layout=compact&theme=apprentice') no-repeat center;
}
@media (max-width: 1000px){
    .githubStats{
        height: 10rem;
        background-size: 100%;
    }
    .githubStats.dark{
        background-size: 100%;
    }
    .githubLangs{
        height: 10rem;
        background-size: 100%;
    }
    .githubLangs.dark{
        background-size: 100%;
    }
}
@media (max-width: 500px) and (min-width: 300px){
    footer{
        position: relative;
    }

}
/*index*/

/*botoes redes sociais*/
.botaoRedes{
    background: transparent;
    border: none;
}
.botaoRedes:hover{
    filter: brightness(150%);
}
.botaoRedes.dark:hover{
    filter: brightness(150%);
}
.iconRedes{
    color: var(--fontePrincipal);
}
.iconRedes.dark{
    color: var(--fonteDark);
}
/*botoes redes sociais*/