*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Helvetica, sans-serif;/* 
    color: var(--fontePrincipal);
    background: var(--fundoPrincipal); */
}
:root{
    --fundoPrincipal: whitesmoke;
    --fontePrincipal: rgb(251, 80, 163);
    --fundoDark: rgb(61, 61, 61);
    --fundoDarkHover: rgb(90, 90, 90);
    --fonteDark: rgb(201, 201, 201);
}
body{
    background: var(--fundoPrincipal);
    color: var(--fontePrincipal);
}
body.dark{
    background: black;
    color: var(--fonteDark);
}

/*navbar*/
nav{
    background: #FB50A3;
    color: var(--fontePrincipal);
    font-size: 1rem;
    min-height: 5%;
    position: relative;
}
nav.dark{
    background: var(--fundoDark);
}
nav.dark a{
    color: var(--fonteDark);
}
nav ul li{
    display: inline-block;
    top: 50%;
    transform: translateY(80%);
    padding: 0px 5px 0px 5px;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: whitesmoke;
    border-bottom: 1px whitesmoke solid;
}
#trocaTema{
    float: right;
    list-style: none;
}
.trocaTema{
    border: none;
    width: 2rem;
    height: 2rem;
    margin: 0.1rem 0.1rem;
    border-radius: 5px;
    background: url('../imgs/svg/light.svg') no-repeat;
}
.trocaTema:hover{
    background: url('../imgs/svg/light.svg') no-repeat;
    filter: brightness(150%);
    color: var(--fontePrincipal);
}
.trocaTema.dark{
    background: url('../imgs/svg/dark.svg') no-repeat;
    color: ghostwhite;
}
.trocaTema.dark:hover{
    background: url('../imgs/svg/dark.svg') no-repeat;
    filter: brightness(150%);
}
/*navbar*/

/*footer*/
footer{
    background-color: #FB50A3;
    width: 100%;
    min-height: 7%;
    color: white;
    position: fixed;
    text-align: center;
    bottom: 0;
}
footer.dark{
    background: var(--fundoDark);
    color: var(--fonteDark);
}
footer p{
    top: 50%;
    transform: translateY(50%);
}
/*footer*/

/*index*/
#divPerfil #imgPerfil{
    border-radius: 50%;
    border: 5px solid var(--fontePrincipal);
}
#divPerfil #imgPerfil.dark{
    border: 5px solid var(--fonteDark);
}
#divPerfil{
    text-align: center;
    margin-top: 2rem;
}
.conteudoPerfil{
    margin: 2rem 2rem;
}
/*index*/

/*botoes redes sociais*/
.botaoRedes{
    background: transparent;
    border: none;
}
.botaoRedes:hover{
    border-bottom: 2px solid var(--fontePrincipal);
}
.botaoRedes.dark:hover{
    border-bottom: 2px solid var(--fonteDark);
}
.iconRedes{
    color: var(--fontePrincipal);
}
.iconRedes.dark{
    color: var(--fonteDark);
}
/*botoes redes sociais*/